{# templates/test/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{% block body %}
<h1>Welcome to the test page!</h1>
<p>This is a test page content.</p>
{% endblock %}